@model HahaFrame.Web.Models.LocalPasswordModel

<legend>Change password</legend>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style = "width:270px" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "width:270px" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "width:270px" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <input class="btn btn-primary backcolor" type="submit" value="Change Password" />
        </div>
    </div>
}
