@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    @RenderSection("Header", required: false)
}
<div class="custom-container">
    <div class="row">
        @RenderSection("Breadcrumbs", false)
        <!-- Content Column Start -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
            @RenderBody()
            <!-- Contents Section End -->
            <div class="clearfix"></div>
        </div>
        <!-- Content Column End -->
        <!-- Gray Sidebar Start -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 equalcol graysidebar">
            <!-- Interactive Tabs Widget start -->
            <div class="widget">
                <div class="interactivetabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="intertabs">
                        <li class="active"><a href="#twittertab" data-toggle="tab"><i class="fa fa-twitter"></i>Twitter</a></li>
                        @*<li><a href="#blogtab" data-toggle="tab"><i class="fa fa-comments"></i>Blog</a></li>
                        <li><a href="#abouttab" data-toggle="tab"><i class="fa fa-video-camera"></i>Videos</a></li>*@
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Twitter Tab Start -->
                        <div class="tab-pane fade in active" id="twittertab">
<a class="twitter-timeline" href="https://twitter.com/hahaframe" data-widget-id="606177817894776832">Tweets by @@hahaframe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                        </div>
                        <!-- Twitter Tab End -->
                        <!-- Blog Tab Start -->
                        @*<div class="tab-pane fade" id="blogtab">
                            <ul class="recentposts">
                                <li>
                                    <h5><a href="blogdetail-double-sidebar.html">Dolor. Proin. Sit rhoncus ut odio nascetur</a></h5>
                                    <p class="date">25 April 2013</p>
                                </li>
                                <li>
                                    <h5><a href="blogdetail-double-sidebar.html"> Urna nec, cursus, dictumst! Etiam</a></h5>
                                    <p class="date">01 May 2013</p>
                                </li>
                                <li>
                                    <h5><a href="blogdetail-double-sidebar.html">Lundium turpis platea? In vel auctor tincidunt</a></h5>
                                    <p class="date">25 April 2013</p>
                                </li>
                                <li>
                                    <h5><a href="blogdetail-double-sidebar.html">Pulvinar, elementum ac, lectus parturient.</a></h5>
                                    <p class="date">01 May 2013</p>
                                </li>
                            </ul>
                        </div>
                        <!-- Blog Tab End -->
                        <!-- Video List Tab Start -->
                        <div class="tab-pane fade" id="abouttab">
                            <div class="videolistsmall">
                                <ul class="bloglist">
                                    <li>
                                        <div class="media">
                                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                                <img class="media-object img-responsive hovereffect" src="images/img16.jpg" alt="" />
                                            </a>
                                            <div class="media-body">
                                                <h5><a href="video-detail-double-sidebar.html">Dann Petty on Curabitur</a></h5>
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                                <img class="media-object img-responsive hovereffect" src="images/img17.jpg" alt="" />
                                            </a>
                                            <div class="media-body">
                                                <h5><a href="video-detail-double-sidebar.html">Falling Down Focus</a></h5>
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <a href="video-detail-double-sidebar.html" class="pull-left">
                                                <img class="media-object img-responsive hovereffect" src="images/img18.jpg" alt="" />
                                            </a>
                                            <div class="media-body">
                                                <h5><a href="video-detail-double-sidebar.html">Waters Fourth Winged</a></h5>
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>10:56</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Video List Tab End -->*@
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- Interactive Tabs Widget End -->
            <!-- Small Video Posts Widget start -->
            @Html.Action("WidgetPopular", "Common")
            <div class="clearfix"></div>
            <!-- Small Video Posts Widget End -->
            <!-- Advertisement start -->
            <div class="widget">
                <!-- HahaFrame Sidebar -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7382014506111041"
                     data-ad-slot="1767392111"
                     data-ad-format="auto"></ins>
                <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="clearfix"></div>
            <!-- Advertisement End -->
            <!-- Recent Post Widget start -->
            @Html.Action("WidgetRecent", "Common")
            
            <div class="clearfix"></div>
            <!-- Recent Post Widget end -->
        </div>
        <!-- Gray Sidebar End -->
        <div class="clearfix"></div>
    </div>
</div>